body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: #926239;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#showcase {
  background-image: url(./beach.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 350px;
}
#showcase h1 {
  font-size: 50px;
  line-height: 1.2;
}
h1 {
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  height: 25px;
}
#showcase p {
  font-size: 20px;
}

p {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
#showcase .button {
  font-size: 18px;
  text-decoration: none;
  color: #926239;
  border: #926239 1px solid;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
}
header:hover .button {
  font-size: 18px;
  text-decoration: none;
  color: white;
  background-color: #926339;
}
section {
  display: flex;
}
#section-1 {
  padding: 20px;
  background: #926239;
  color: #fff;
  text-align: center;
}
#section-2 {
  padding: 20px;
  background: #f4f4f4;
  text-align: center;
}
#section-3 {
  display: flex;
  text-align: center;
}
#section-3 .box-1,
#section-3 .box-3 {
  background: #926239;
  color: #fff;
}
#section-3 span {
  padding: 20px;
}
span {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
  text-align: center;
}
#section-3 .box-2 {
  background: #f9f9f9;
}

@media screen and (max-width: 376px) {
  #showcase h1 {
    font-size: 20px;
    margin-left: -350px;
  }
  #showcase p {
    font-size: 10px;
    margin-left: -350px;
  }
  #showcase .button {
    font-size: 8px;
    margin-left: -350px;
  }

  #section-3 {
    flex-direction: column;
  }
}
